.main {
    background-color: var(--background-color);
    margin-top: 150px;
}

.content {
    display: flex;
    max-width: 100%;
}

.searchFilter {
    padding-bottom: 20px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.cardImage {
    width: 100% 
}

.notFound {
    width: 30%;
}